* {
    /* font-family: 'Kumbh Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Proza Libre', sans-serif; */
    margin:0;
    padding: 0; 
    
}
body{
    background-color: #D6EAF8 ;
    overflow: auto;
    
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #11009E;
  max-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  padding-left: 5%;
  margin-right: 20px;
}

.logo img {
  max-height: 100px;
  width: auto;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #0079FF;
  color: black;
  border-radius: 6px;
}

.dark-light-toggle {
  display: flex;
  align-items: center;
  position: relative; /* Add this */
  margin-right: 50px; /* Add some margin to create space for the checkbox */
}

.dark-light {
  position: relative;
  opacity: 0;
  pointer-events: none;
  margin-left: 5px;
}

.dark-light + label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms linear;
  box-shadow: 0 0 25px rgba(255, 235, 167, 0.45);
  position: relative; /* Add this */
}


.dark-light:checked + label {
  transform: rotate(360deg);
}

.dark-light + label::after,
.dark-light:checked + label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%); /* Add this */
  overflow: hidden;
  z-index: 2;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #102770;
  background-image: url(https://assets.codepen.io/1462889/moon.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked + label::after {
  opacity: 1;
}

.dark-light + label::before,
.dark-light:checked + label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #48dbfb;
  background-image: url('https://assets.codepen.io/1462889/sun.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
}

.dark-light:checked + label::before {
  background-color: #000;
}

.light-back {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00DFA2 !important;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms linear;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.dark-light:checked ~ .light-back {
  opacity: 1;
}
      
    
      .main-topic {
        background-image: url('kereta.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 500px;
        text-align: center;
      }
      
      .main-topic > h1 {
        color: white;
        font-size: 40px;
        margin: 0 0;
      }

      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .jumbotron {
        position: relative;
        background: url('kereta.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .jumbotron:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Faded background overlay */
    }
    
    .jumbotron .container {
        position: relative;
        z-index: 1;
    }
    
    .jumbotron h1 {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .jumbotron p {
        font-style: italic;
        margin-bottom: 10px;
    }
    
    .jumbotron a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        margin-top: 25px;
    }
    
    .jumbotron a:hover {
        background-color: #0056b3;
    }
    
    /* Responsive Styles */
    @media (max-width: 768px) {
        .jumbotron h1 {
            font-size: 36px;
        }
    
        .jumbotron p {
            font-size: 16px;
        }
    
        .jumbotron a {
            margin-top: 20px;
            padding: 8px 16px;
        }
    }
    
    @media (max-width: 576px) {
        .jumbotron h1 {
            font-size: 24px;
        }
    
        .jumbotron p {
            font-size: 14px;
        }
    
        .jumbotron a {
            margin-top: 15px;
            padding: 6px 12px;
        }
    }
    

    .container {
        max-width: 960px;
        margin: 70px auto;
        padding: 25px;
    }
    
    .container h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    body > .container > p {
        font-style: italic;
        color: #6c757d;
        margin-bottom: 20px;
        font-weight: 900;
    }
    
    .container strong {
        font-weight: bold;
        color: #000;
    }
    
    body > .container > .row > ul {
        list-style: none;
        padding-left: 0;
    }
    
    body > .container > .row > ul > li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
    }
    
    body > .container > .row > ul > li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    
    body > .container > .row > ul > li ion-icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    
    /* Responsive Styles */
    @media (max-width: 768px) {
        .container {
            margin: 50px auto;
        }
    
        .container h2 {
            font-size: 20px;
        }
    
        body > .container > p {
            font-size: 14px;
        }
    }
    
    @media (max-width: 576px) {
        .container {
            margin: 30px auto;
        }
    
        .container h2 {
            font-size: 18px;
        }
    
        body > .container > p {
            font-size: 12px;
        }
    }
    


      /* baru */

      .jumbotron1 {
        position: relative;
        background: url('ikang.jpg');
        background-size: cover;
        background-position: center;
        height: 80vh;
        color: wheat;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .jumbotron1:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Faded background overlay */
    }

    .jumbotron1 .container1 {
        position: relative;
        z-index: 1;
    }

    .jumbotron1 h1 {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .jumbotron1 p {
        font-style: italic;
        margin-bottom: 10px;
        
    }

    .jumbotron1 a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        margin-top: 25px;
    }

    .jumbotron1 a:hover {
        background-color: #0056b3;
    }

    .container1 {
        max-width: 960px;
        margin: 0 auto;
        padding: 20px;
    }

    .container1 h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    body > .container1 > p {
        font-style: italic;
        color: #6c757d;
        margin-bottom: 20px;
        font-weight: 900px;

    }

    .container1 strong {
        font-weight: bold;
        color: #000;
    }

    /* slider */

    /* Panels. */
.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

    .panel .content {
        position: absolute;
        width: 100vw;
        min-height: 45vw;
        color: #FFF;
    }

    .panel .description {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .panel img {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        width: 35%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


.bottom {
    background-color: rgb(44, 44, 44);
    z-index: 1;
}

    .bottom .description {
        right: 5%;
    }

.top {
    background-color: rgb(77, 69, 173);
    z-index: 2;
    width: 50vw;

    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

    .top .description {
        left: 5%;
    }

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}

/* Responsive. */
@media (max-width: 2000px) {
    body {
        font-size: 75%;
    }
}

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column1 {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;

  }
  
  @media screen and (max-width: 650px) {
    .column1 {
      width: 100%;
      display: block;
    }
  }
  
  /* .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content:  space-between;
    padding: 40px;
  }
  
  .container2 {
    padding: 0 16px;
  }
  
  .container2::after, .row2::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  .row2{
    padding: 10px;
    margin:100px;
    padding: 0; 

    box-sizing: border-box;
  }

  .row2 > .column1 > .card2 > img{

    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    
    border-style: solid ;
    

  }

  .row2 > .column1 > .card2 > h2{

    text-align: center;
    margin-bottom: 15px;

  }

  .row2 > .column1 > .card2 > .container2 > p{

    text-align: center;
    margin-bottom: 10px;

  }

  .row2 > .column1 > .card2 > .container2 > .title{

    font-weight: 600;

  } */

  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 40px;
  }
  
  .container2 {
    padding: 0 16px;
  }
  
  .container2::after,
  .row2::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  .row2 {
    padding: 10px;
    margin-bottom: 100px;
    padding: 0;
    box-sizing: border-box;
    margin-right: 40px;
    margin-left: 40px;
  }
  
  .row2 > .column1 > .card2 {
    margin-bottom: 30px;
    min-height: 70vh;
  }
  
  .row2 > .column1 > .card2 > img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    border-style: solid;
  }
  
  .row2 > .column1 > .card2 > h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .row2 > .column1 > .card2 > .container2 > p {
    text-align: center;
    margin-bottom: 10px;
    overflow-wrap: break-word;
  }
  
  .row2 > .column1 > .card2 > .container2 > .title {
    font-weight: 600;
  }
  
  .row2 > .cuba {
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    padding-bottom: 50px; 
    margin-top: 50px;
  }
  
  /* Responsive Styles */
  
  @media screen and (max-width: 1200px) {
    .row2 {
      margin: 50px;
    }
  
    .card2 {
      padding: 20px;
    }
  }
  
  @media screen and (max-width: 820px) {
    .row2 {
      margin: 20px;
    }
  
    .card2 {
      padding: 10px;
      margin-bottom: 0; /* Adjust margin to maintain consistent size */
    }
  }
  
  
  
  
  
  
  



      
      
