* {
    /* font-family: 'Kumbh Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Proza Libre', sans-serif; */
    margin:0;
    padding: 0; 
    
}
body{
    background-color: #D6EAF8;
    overflow: auto;
    
}
 .navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#11009E;
    max-height: 80px;
    display: flex;
    align-items: center;

  }
  .logo {

    float: left;
    padding-left: 5%;
    margin-right: 450px;
    margin-left: 50px;
    display: flex;
  }
  .logo img {
    max-height: 175px;
    width: auto;
  }
  
 .navbar a  {
    display: block;
    color: white;
    text-align: center;
    padding: 30px ;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #0079FF;
    color :black;
    border-radius: 6px;
  }

  /* color changer */

  .container {
    border: 90px solid #333;
    }
    .color {
    display: table-cell;
    width: 150px;
    height: 50px;
    margin: 0 1px;
    cursor: pointer;
    border: 2px solid #FFF;
    border-radius: 5px;
    }
    .clr1 {
    background-color: #FF0060;
    }
    .clr2 {
    background-color: #F6FA70;
    }
    .clr3 {
    background-color: #00DFA2;
    }
    .clr4 {
    background-color: #0F68DB;
    }

    /* dropdown color changer */
    .dropdown {
        float: left;
        overflow: hidden;
      }
      
      .dropdown .dropbtn {
        cursor: pointer;
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: #FF0060 ;
        font-family: inherit;
        border-radius: 5px;
        margin-left: 20px;
      }
      
      .dropdown:hover .dropbtn, .dropbtn:focus {
        background-color: #F6FA70;
        color: #333;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 190px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        
      }
      
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      .show {
        display: block;
      }
 /* Services Quotation */
 .center {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
 .quotation {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #00DFA2 ;
    font-family: inherit;
    border-radius: 5px;
    margin-left: 20px;
    text-align: center;

 }
 .quotation:hover {
    background-color: #f0397f ;
 }
 
 /* popup */
 /* The Modal (background) */
.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* Fallback color */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 430px;
  border-radius: 8px;
  overflow: auto;
}

/* The Close Button */
.close-popup {
  color: #aaaaaa;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.close-popup:hover,
.close-popup:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  /* font-family: 'Proza Libre', sans-serif; */
  color: #333;
  font-family: 'Kumbh Sans', sans-serif;

}
h2 {
  font-size: medium;
}

hr {
  border: none;
  width:97%;
  margin: auto;
  height: 2px;
  background-color: #11009E;
  border-radius: 10px;
}
/* quotation form attributes */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color:#D6EAF8;

}

input[type=submit] {
  width: 100%;
  background-color: #00DFA2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f0397f ;
}
input[type=checkbox] {
  width: 100%;
  padding: 14px 20px ;
  margin: 8px 0;
  border: none;
  /* display: flex; */
  border-radius: 5px;
  cursor: pointer;
  background-color: #00DFA2;
  height: 30px;
 
}
#service {
  background-color: #00DFA2;
}

label{
  background-color: #D6EAF8;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  
  align-items: center;
}